<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/df0fd52d0d.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <script src="https://kit.fontawesome.com/1c751d249b.js" crossorigin="anonymous"></script>        <link rel="icon" href="images/logoml1.png">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"><a href="/"></a>
                    <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
                </div>
                <div class="form" action="#" method="GET">
                    <input type="text" class="input" style="color:#000;" placeholder="Buscar productos, marcas y más">
                    <button class="submit"><i id="iconolupa" class="uil uil-search"></i></button>
                </div>
            </div>
            <nav>
                <ul>
                    <li class="nav-menu-item"><a href="#">Ofertas</a></li>
                    <li class="nav-menu-item"><a href="#">Tiendas</a></li>
                    <li class="nav-menu-item"><a href="#">Vender</a></li>
                    <li class="nav-menu-item"><a href="#">Ayuda</a></li>
                    <li class="nav-menu-item1"><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li class="nav-menu-item2"><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li class="nav-menu-item2"><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
        </header>
        <section class="banner">
            <img src="/images/banner2.jpg" alt="Banner de ofertas">
        </section>
        <main>
            <section class="last-visit">
                <h3>Basado en tu última visita<p class="link">Ver todas</p</h3>
                <div class="products">
                    <article>
                        <img src="images/gopro.jpg" alt="Cafetera" class="product_img">
                        <h6 class="name">Go Pro Hero</h6>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$16.770</p>
                        </div>
                    </article>
                    <article>
                        <img src="images/nikon.jpg" alt="MacBook" class="product_img">
                        <h6 class="name">Nikon DSLR</h6>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$29.000</p>
                        </div>
                    </article>
                    <article>
                        <img src="images/louivitton.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                        <h6 class="name">Louis Vuitton Bag</h6>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$50.500</p>
                        </div>
                    </article>
                    <article>
                        <img src="images/birkenstock.jpg" alt="SmartTv Samsung" class="product_img">
                        <h6 class="name">Birkenstock Sandalias</h6>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$13.200</p>
                        </div>
                    </article>
                </div>
            </section>
            <section class="offers">
                <h3>Ofertas<p class="link">Ver todas</p</h3>
                <div class="products">
                    <article>
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <h6 class="name">Cafetera Moulinex</h6>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                        <h6 class="name">Macbook Pro 2019</h6>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                        <h6 class="name">Samsung S10</h6>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                        <h6 class="name">Samsung Smart TV</h6>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                    </article>
                </div>  
            </section>
            <section class="banner2">
                <img src="images/banner5.jpg" alt="Banner de ofertas">
            </section>
            <section class="offers">
                <h3>Recomendaciones<p class="link">Ver todas</p></h3>
                <div class="products">
                    <article>
                        <img src="images/vans.jpg" alt="Vans" class="product_img">
                        <h6 class="name">Vans Old Skool</h6>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$3.770</p>
                            
                        </div>
                    </article>
                    <article>
                        <img src="images/razer.jpg" alt="Razer" class="product_img">
                        <h6 class="name">Razer Barracuda</h6>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$21.000</p>
                        </div>
                    </article>
                    <article>
                        <img src="images/212.jpg" alt="CH 212" class="product_img">
                        <h6 class="name">Carolina Herrera 212</h6>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$12.500</p>
                        </div>
                    </article>
                    <article>
                        <img src="images/bose.jpg" alt="Micro" class="product_img">
                        <h6 class="name">Bose Micro</h6>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$29.200</p>
                        </div>
                    </article>
                </div>  
            </section>
        </main>
        <footer>
            <div class="footer">
                <div class="article-footer">
                    <img src="images/logoid.jpg" alt="logo id" class="logofooter">
                    <h4 class="footer-title">Pagá con Mercado Pago</h4>
                    <p>Usa Mercado Pago, la solución de Mercado Liebre para pagar de forma segura y con el medio de pago que prefieras.</p>
                    <p class="links">Cómo pagar con Mercado Pago</p>
                </div>
                <div class="article-footer">
                    <img src="images/logocaja.jpg" alt="logo caja" class="logofooter">
                    <h4 class="footer-title">Envío gratis desde $ 2.500</h4>
                    <p>Elige Mercado Envíos en tus compras y disfruta de envíos gratis en miles de productos nuevos.</p>
                    <p class="links">Cómo recibo compras con Mercado Envíos</p>
                </div>
                <div class="article-footer">
                    <img src="images/logoseguridad.jpg" alt="logo seguridad" class="logofooter">
                    <h4 class="footer-title">Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devuélvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
                    <p class="links">Cómo te protegemos</p>
                </div>
            </div>
            <h4 class="footer-copywrite">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </footer>
        
        
    </body>
</html>