<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/login.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <link rel="icon" href="images/logoml1.png">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo">
                    <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
                </div>
        </header>
                    <div class="ingresar">
                      <div class="contenedor">
                        <div class="title"><span>Ingresá</span></div>
                        <form action="#">
                          <div class="row">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="Email o Teléfono" required>
                          </div>
                          <div class="row">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Contraseña" required>
                          </div>
                          <div class="pass"><a href="#">Olvidó su contraseña?</a></div>
                          <div class="row button">
                            <input type="submit" value="Ingresá">
                          </div>
                          <div class="signup-link">No tienes cuenta? <a href="/register">Crea una cuenta</a></div>
                        </form>
                      </div>
                    </div>
        </main>
        <footer>

        </footer>
    </body>
</html>