*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body{
    background: #EAC926;
    overflow: hidden;
  }
  ::selection{
    background: #EAC926;
  }
  .ingresar{
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
  }
  .contenedor{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
  }
  .contenedor .title{
    height: 90px;
    background: #EAC926;
    border-radius: 5px 5px 0 0;
    color: #02204d;
    font-size: 25px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contenedor form{
    padding: 30px 25px 25px 25px;
  }
  .contenedor form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
  }
  .contenedor form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  form .row input:focus{
    border-color: #EAC926;
    box-shadow: inset 0px 0px 2px 2px #EAC926;
  }
  form .row input::placeholder{
    color: #999;
  }
  .contenedor form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #02204d;
    font-size: 18px;
    background: #EAC926;
    border: 1px solid #EAC926;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contenedor form .pass{
    margin: -8px 0 20px 0;
  }
  .contenedor form .pass a{
    color: #EAC926;
    font-size: 17px;
    text-decoration: none;
  }
  .contenedor form .pass a:hover{
    text-decoration: underline;
  }
  .contenedor form .button input{
    color: #02204d;
    font-size: 20px;
    font-weight: 100;
    padding-left: 0px;
    background: #EAC926;
    border: 1px solid #EAC926;
    cursor: pointer;
  }
  form .button input:hover{
    background: #EAC926;
  }
  .contenedor form .signup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
  }
  .contenedor form .signup-link a{
    color: #EAC926;
    text-decoration: none;
  }
  form .signup-link a:hover{
    text-decoration: underline;
  }