*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    font-weight: 100;
}

.li1{
    display: inline;

}
input, textarea{
    font: inherit;
}

.input{
    padding: 7px 60px 9px 15px;
    border-radius: 2px;
    background-color: #fff;
}
.logo{
    max-width: 180px;
}

.name:hover{
    opacity: 1;
}

.name{
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 450ms;
}

h3{
    font-size: 26px;
    font-weight: 100;
    color: #666;
}

p{
    font-size: 12px;
    display: flex;
    justify-content: left;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;

}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #fff159;
    width: 100%;
    order: 1;
    position: fixed;
    top: 0; 
    z-index: 1;
}

header div.logo,
header .form{
    width: 50%;
}
ul{
    padding: 1%;
}
header div.logo{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    color: rgb(224, 221, 221);
    padding: 7px 60px 9px 15px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    height: 39px;
    font-size: 20px;
    font-weight: 100;
    border-radius: 0;
    width: 580px;
}
::placeholder{
    color: rgb(224, 221, 221);
    font-size: 20px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
i{
    font-size: 15px;
}
#iconolupa{
    font-size: 20px;
    font-style: inherit;
    margin-left: 4px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid rgb(255, 255, 255);
    color: #666;
    height: 30%;
    width: 3%;
    padding: 7px 30px 0px 0px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    height: 39px;
    font-size: 20px;
    font-weight: 100;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}


div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 13px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
    height: 45vh;
}
section.bannerPagos img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 12vh;
    margin-top: 4vh;
    border-radius: 10px;
}
section.banner2 img{
    width: 100%;
    height: 45vh;
    border-radius: 10px;
}

.container{
    margin-top: 230px;
}
.login{
    margin-top: 320px;
}
main{
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10vh;
    /* top: 200px; */
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
    position: relative;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

.fa-truck:hover{
    transition: 1000ms;
    transform: rotate(-90deg);
}

main section article:hover .description {
    display: block;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 15px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

/*FOOTER*/
.article-footer{
    text-align: center;
    margin: 35px 55px;
    background-color: white;
}

.logofooter{
    width: 4em;
    margin-bottom: 0.3vh;
}
 

.i-footer:hover{
    color: #666;
}

.align-footer{
    text-align: center;
}

.footer-title {
    color: #4b4b4b;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    margin: 2px 0 0;
    text-align: center;
    font-weight: 300;
}
.footer-copywrite{
    color: #4b4b4b;
    line-height: 1.4;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    background-color: white;
}
.links{
    color: #3483fa;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    margin-top: 1.3vh;
}
.link{
    color: #3483fa;
    font-size: 18px;
    text-decoration: none;
}

.links:hover{
    color: #0858d0;
}
.link:hover{
    color: #0858d0;
}
.banner{
    margin-top: 109px;
}
.footer{
    background-color: white;
}

/*LOGIN*/

.login-btn:hover{
    background-color: #3498db;
}


.nav-menu-item {
    display: inline-block;
    line-height: 22px;
    font-size: 14px;
    padding-right: 32px;
    width: auto;
    margin-left: 20px;
}
.nav-menu-item a {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.8);
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
}
.nav-menu-item2 {
    display: inline-block;
    line-height: 22px;
    font-size: 14px;
    padding-right: 32px;
    width: auto;
}
.nav-menu-item2 a {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.8);
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
}
.nav-menu-item1 {
    display: inline-block;
    line-height: 22px;
    font-size: 14px;
    padding-right: 32px;
    width: auto;
    margin-left: 420px;
}
.nav-menu-item1 a {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.8);
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
}

/*TABLET*/
@media (min-width: 361px){
    main section article {
        display: block;
    }
    /* .banner{
        display: none;
    }
    .banner2{
        display: none;
    } */
    .bannerMobile{
        width: 100%;
    }


    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
    header{
        position: fixed;
        top: 0; 
        z-index: 1;
    }
    
}
section.bannerMobile img{
    width: 100%;
    height: 25vh;
    border-radius: 10px;
}

/*DESK*/
@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
    .bannerMobile{
        display: none;
    }


    .footer{
        display: flex;
    }

    .article-footer{
        width: 25vw;
    }
}

/* SMARTPHONE LARGE */
@media only screen and (max-width: 430px) and (min-width: 401px){
    header{
        position: fixed;
        top: 0; 
        z-index: 1;
    }
    .banner{
        display: none;
    }
    .banner2{
        display: none;
    }
    .bannerPagos{
        display: none;
    }
    
    .nav-menu-item {
        display: none;
    }
    .nav-menu-item a {
        display: none;
    }
    .nav-menu-item1{
        margin-left: 5vh;
        font-size: 12px;
        font-weight: 400;
    }
    .nav-menu-item2{
        font-size: 12px;
        font-weight: 400;

    }
    header .form .input{
        width: 200px;
    }
    .logo{
        max-width: 120px;
    }
    .last-visit{
        margin-top: 87px;
    }
    h3{
        font-size: 18px;
    }
    
}
 
 /* SMARTPHONES MEDIUM AND SMALL  */

@media only screen and (max-width: 400px) {
    header{
        position: fixed;
        top: 0; 
        z-index: 1;
    }
    .banner{
        display: none;
    }
    .bannerPagos{
        display: none;
    }
    .banner2{
        display: none;
    }
    
    .nav-menu-item {
        display: none;
    }
    .nav-menu-item a {
        display: none;
    }
    .nav-menu-item1{
        margin-left: 0px;
        font-size: 12px;
        font-weight: 400;
    }
    .nav-menu-item2{
        font-size: 12px;
        font-weight: 400;

    }
    header .form .input{
        width: 200px;
    }
    .logo{
        max-width: 120px;
    }
    .last-visit{
        margin-top: 87px;
    }
    h3{
        font-size: 18px;
    }
    
}
@media only screen and (max-width: 360px) {
    header .form .input{
        width: 160px;
    }
    .bannerPagos{
        display: none;
    }
    .logo{
        max-width: 120px;
    }
    .banner{
        display: none;
    }
    .banner2{
        display: none;
    }
    

    .nav-menu-item1{
        margin-left: 11px;
        font-size: 9px;
        font-weight: 400;
    }
    .nav-menu-item2{
        font-size: 9px;
        font-weight: 400;

    }
    i{
        font-size: 9px;
    }
    .last-visit{
        margin-top: 87px;
    }
}

@media only screen and (max-width: 769px) and (min-width: 550px){
    .banner{
        margin-top: 11vh;
    }
    
.banner2{
    display: none;
}

.nav-menu-item {
    display: none;
}
.nav-menu-item a {
    display: none;
}
.nav-menu-item1{
    margin-left: 60vh;
    font-size: 12px;
    font-weight: 400;
}
.nav-menu-item2{
    font-size: 12px;
    font-weight: 400;

}
header .form .input{
    width: 500px;
}
.logo{
    max-width: 120px;
}
.last-visit{
    margin-top: 20px;
}
h3{
    font-size: 18px;
}
p{
    text-align: center;
    justify-content: center;
}
}
